
data/system/5_45_11_48_F182010.v4c.avg_lights_x_pct.lzw.tiff

data/system/87_20_94_27_F182010.v4c.avg_lights_x_pct.lzw.tiff

data/system/88_20_93_27_F182010.v4c.avg_lights_x_pct.lzw.tiff

data/entities/BGD_adm/BGD_adm0.mat
